body {
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

.top-image {
    background-image: url(images/donation13.jpg);
    height: 100px;
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin-top: 0%;
}

.white-center {
    color: white;
    font-size: 80px;
    margin-top: 0;
    padding-top: 220px;
}

.paragraph {

    color: white;
    font-weight: 300;
    font-size: 25px;

}

.Link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;

}

.index {

    text-align: center;
}

.Donate {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 30px;
}

.paragraph1 {
    font-weight: 300;
    font-size: 20px;
    color: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}

h2 {
    background: rgb(251, 251, 251);
    border-radius: 5px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 50px 50px;
    color: rgb(126, 126, 126);
    font-size: 30px;
}

#border {
    border: 2px solid tomato;
    background-color: rgb(249, 230, 223);
    color: tomato;
}

.second {
    margin-top: 30px;
}

.second {
    text-align: center;
    margin-top: 200px;
}

.Flex {
    display: flex;
    width: 80%;
    margin-left: 180px;
    margin-top: 30px;
}

.Food {
    background: rgb(235, 246, 255);
    border-radius: 5px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 50px 50px;
    color: rgb(126, 126, 126);
    text-align: left;
}

.Shelter {
    background: rgb(255, 234, 237);
    border-radius: 5px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 50px 50px;
    color: rgb(126, 126, 126);
    text-align: left;
}

.Education {
    background: rgb(255, 250, 208);
    border-radius: 5px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    padding: 50px 50px;
    color: rgb(126, 126, 126);
    text-align: left;
}

h3 {
    color: black;
    font-size: 30px;
}

.amount {
    margin: 0 20%;
    padding: 10px;
    font-size: 30px;
    color: gray;

}

.form-box {
    padding: 100px 250px;
    border-radius: 5px;
    background: rgb(243, 232, 215)
}

.box {
    padding: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-box input {
    font-size: 18px;
    color: black;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(208, 204, 204);
}

.form-box button {
    color: black;
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: tomato;
    cursor: pointer;
    transition: 3s;
}

.footer {
    margin-top: 100px;
    background-color: rgb(45, 42, 42);
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-family: 'Lobster';
    cursive;
    font-size: 20px;
}

.color {
    color: rgb(239, 87, 61);
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
    padding-left: 30px;
    margin-left: 120px;
    margin-top: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 150%;
    margin-left: 120px;
    margin-top: 100px;

}

.survive {
    padding: 20px 40px;
    padding-top: 40px;
}

.survive img {
    width: 80%;
    padding-left: 80px;
}

.survival {
    padding-left: 40px;
    padding-right: 40px;
}

.paragraph2 {
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    color: grey;
}